/* header navigation */

p { 
    font-family: 'Jura', sans-serif;
  }
  .customNav {
    position: fixed;
    width: 100%;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav{
    margin-left: auto;
  }
  .navbar-brand img{
    padding-right: 15px;
    width: 65px;
  }
  .nav-item{
    margin: 0px 15px;
  }
  .customNav a {
      color: black!important;
    }
    .active-cyan-2 input[type=text]:focus:not([readonly]) {
        border-bottom: 1px solid red;
        box-shadow: 0 1px 0 0 red;
        margin-left: auto;
      }
    .active-cyan .fa, .active-cyan-2 .fa {
        color: red;
      }
      #nav-list{
        margin-right: 0 !important;
      }
    .form-inline{
      margin-right: 0!important;
      margin-left: auto;
   }
   .view img{
   }

/* radio buttons */

[type="radio"] {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;
  }
  /* One radio button per line */
  label {
    display: block;
    cursor: pointer;
    line-height: 2.5;
    font-size: 1.5em;
    margin-left: 0 !important;
  }
  [type="radio"] + span {
    display: block;
  }
  /* the basic, unchecked style */
  [type="radio"] + span:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid #fff;
    box-shadow: 0 0 0 0.15em #000;
    margin-right: 0.75em;
    transition: 0.5s ease all;
  }
  /* the checked style using the :checked pseudo class */
  [type="radio"]:checked + span:before {
    background: red;
    box-shadow: 0 0 0 0.25em red;
  }
  /* never forget focus styling */
  [type="radio"]:focus + span:after {
    font-size: 1.5em;
    line-height: 1;
    vertical-align: -0.125em;
  }
  fieldset {
  font-size: 1em;
  border: 2px solid red;
  padding: 2em;
  border-radius: 0.5em;
}
fieldset label{
    justify-content: left !important;
}
   /* Stepper */
#grad1 {
    background-color: #9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #81D4FA)
}
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}
#msform fieldset{
    text-align: left !important;
}
#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}
#msform fieldset:not(:first-of-type) {
    display: none
}
#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}
#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}
#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid red;
    outline-width: 0
}
#msform .action-button {
    width: 100px;
    background: red;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}
#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px red;
}
#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}
#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}
select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}
select.list-dt:focus {
    border-bottom: 2px solid red
}
.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}
.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}
#progressbar .active {
    color: #000000
}
#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 13%;
    float: left;
    position: relative
}
#progressbar #account:before {
    font-family: FontAwesome;
    content: "1"
}
#progressbar #personal:before {
    font-family: FontAwesome;
    content: "2"
}
#progressbar #payment:before {
    font-family: FontAwesome;
    content: "3"
}
#progressbar #Icing:before {
    font-family: FontAwesome;
    content: "3"
}
#progressbar #message:before {
    font-family: FontAwesome;
    content: "4"
}
#progressbar #notes:before {
    font-family: FontAwesome;
    content: "5"
}
#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #FFFFFF;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}
#progressbar li.active:before,
#progressbar li.active:after {
    background: red
}
.radio-group {
    position: relative;
    margin-bottom: 25px
}
.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}
.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}
.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}
.fit-image {
    width: 100%;
    object-fit: cover
}