/* font sizes and styles */

p { 
  font-family: 'Jura', sans-serif;
}

/* header navigation */
  
.customNav {
  position: fixed;
  width: 100%;
  background-size: cover;
  z-index: 10;
}

.navbar-nav{
  margin-left: auto;

}

.navbar-brand img{
  padding-right: 15px;
  width: 65px;
}

.nav-item{
  margin: 0px 15px;
}

.customNav a {
    color: black!important;
  }

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
    margin-left: auto;
  }

.active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
  }

  #nav-list{
    margin-right: 0 !important;
  }
.form-inline{
  margin-right: 0!important;
  margin-left: auto;
}

/* footer navigation */



/* hero image sections */

.jumbotron{
  background-image: url('../images/bakery-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumboCopy{
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: white;
  text-align: center;
}
.content{
  padding:50px;
}

.sectionHeading{
  text-align: center;
}


.sideAccent{
  background: #007bff;
  width: 15px;
  }

  .imageContainer{
    padding: 50px;
  }

  .imageContainer img{
    width: 100%;
  }


/* bakery categories navigation */

.bakeryNav {
    text-align: center;
}

.bakeryNav img {
    border: 3px solid #ff0000;
    border-radius: 50%;
    width: 125px;
    padding: 15px;
}

.bakeryNav h2 {
    font-family: 'Lora', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    padding-bottom: 25px;
}

.bakeryNav h4 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

.bakeryNav .row {
    padding-bottom: 50px;
}



